* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: whirte(28, 56, 121);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #ffffff;
}

.logo {
  cursor: pointer;
}

.stripe {
  height: 50px;
  width: 100%;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #1c3879;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  color: #1c3879;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav__links li a:hover {
  box-shadow: inset 100px 0 0 0 #1c3879;
  color: white;
}

.cta {
  padding: 9px 25px;
  background-color: #1c3879;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: #dce1ee;
  color: rgb(28, 56, 121);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

.wrapper {
  display: flex;
}

.wrapper .static-txt {
  color: #001945;
  font-size: 60px;
  font-weight: 450;
}

.dynamic-txt li {
  list-style: none;
  color: #2761c7;
  font-weight: 500;
  position: relative;
  font-size: 60px;
  margin-left: 15px;
}

.dynamic-txt li ::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #2761c7;
  position: absolute;
  border-left: 2px solid #2761c7;
  left: 0;
}

.placeholder image {
  display: block;
  width: 250px;
  margin: auto;
}

button {
  display: block;
}

.about {
  width: 100%;
  padding: 100px 0px;
  background-color: #ffffff;
}
.about-text h2 {
  color: #1c3879;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5 {
  color: #1c3879;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text p {
  color: #1c3879;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 15px;
}
.main {
  width: 1130px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  display: grid;
  box-sizing: border-box;
  background-color: white;
  grid-template-columns: 1fr 1fr;
}

.stripe {
  height: 50px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.save {
  align-items: center;
  justify-content: space-around;
  display: grid;
  font-size: 50px;
  margin-bottom: 20px;
  text-decoration: underline;
  color: #041f4e;
}

.head h1 {
  text-align: left;
  display: grid;
  font-size: 60px;
  color: #001945;
  padding: 20px;
}

.value:hover {
  background: #122552;
  color: white;
  cursor: pointer;
}

.value:active {
  background: #152855;
}

.value:focus {
  color: #001945;
  animation: anim-shadow 0.6s forwards;
}

@keyframes anim-shadow {
  100% {
    box-shadow: 
       #203562 10px 10px, #ffffff 15px 15px;
  }
}

.button_txt {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  height: 100%;
  font-size: 30px;
  font-weight: 400px;
}
.button_icon {
  display: inline-flex;
  align-items: center;
  padding: 0 50px;
  color: #fff;
  height: 100%;
}

.button_caption {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  height: 100%;
  font-size: 15px;
}

.button_icon {
  font-size: 6em;
  background: rgba(0, 0, 0, 0.08);
}

.value {
  display: flex;
  height: 150px;
  background: #1c3879;
  border: 5px solid rgb(9, 2, 66);
  outline: none;
  border-radius: 25px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.container {
  margin: 0 auto;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  width: 1250px;
  background-color: #acb7cb;
  border-radius: 22px;
  padding: 60px;
  -webkit-box-shadow: 26px 29px 0px 1px rgba(240, 241, 245, 1);
  -moz-box-shadow: 26px 29px 0px 1px rgba(240, 241, 245, 1);
  box-shadow: 26px 29px 0px 1px rgba(240, 241, 245, 1);
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  margin: 20px 0;
}

.buttons {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  overflow: auto;
}

.group {
  display: block;
  justify-content: center;
  width: 90vh;
}
