/*CSS for Our Impact*/
<style>
body {
      background-color: white;
    }
    h1 {
      font-family :'Corbel' ;
      color: darkblue ;
      text-align: center ;
      text-decoration-line:underline;
    }
    p {
      font-family: 'Lucida Sans' ;
      text-align: center ;
      margin-bottom: 20px ;
      border-bottom-style: groove ;
      border-color: orange ;
      border-radius: 8px ;
      

    }
    
    img.turtle{
      max-width: auto;
      height: auto;
      border-radius: 8px;
    }
    .container {
  position: relative;
  width: 50%;
}

img.people {
  display: block;
  width: 300px;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


img.city {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}    

    h2 {
      margin-left: 300px;
      font-family: 'Corbel' ;
      color: darkblue ;
    }
    p2 {
      margin-left: 280px ;
      font-family: 'Lucida Sans' ;
      }
    p3 {
      font-family: 'Lucida Sans' ;
      margin-left: 280px ;
      }
    p4 {
      font-family: 'Lucida Sans' ;
      margin-left: 280px ;
      }
    
    h3{
      font-family: 'Lucida Sans' ;
      margin-left: 50px ;
      margin-right: 60 px;
      color: navy ;
      text-decoration: overline;
      }
    h4 {
      text-decoration: overline;
      font-family: 'Lucida Sans';
      color: darkblue;
      margin: auto ;
        }
    p5 {
      margin: auto ;
      font-family: 'Lucida Sans' ;
      }
    .button{
      background-color: darkblue ;
      border: blue;
      color: orange ;
      padding: 15px 32px;
      text-align: center;
      font-family: 'Corbel' ;
      cursor: pointer;
      border-radius: 6px ;
    }


/*CSS for Features */
</style>
h3 {
        font-family: 'Corbel';
        color: darkblue ;
        text-decoration: overline ;
        margin: auto ;
        border-top-style: solid ;
        border-color: orange ;
        text-align: center ;
    }
    p {
        font-family: 'Lucida Sans' ;
        text-align: center ;

    }
    p2 {
      font-family: 'Lucida Sans' ;
      text-align: center ;
      border-style: solid ;
      color: blue ;
      border-radius: 8px ;
      margin-left: 470px ;
    }

</html>
