@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter:wght@600&family=Poppins&family=Quicksand:wght@300&family=Righteous&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(28, 56, 121);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #ffffff;
}

.top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  z-index: -1;
}

.top img {
  object-fit: contain;
  width: 100%;
}

.logo {
  cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #1c3879;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  color: #1c3879;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav__links li a:hover {
  box-shadow: inset 100px 0 0 0 #1c3879;
  color: white;
}

.cta {
  padding: 9px 25px;
  background-color: #1c3879;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: #dce1ee;
  color: rgb(28, 56, 121);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

.content {
  position: absolute;
  transform: translateY(-50%);
}

.background {
  display: grid;
  background-color: rgb(28, 56, 121);
}

.content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: white;
  margin: 20px 0px 20px;
  font-size: 75px;
}
h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
}
h4 {
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  font-size: 20px;
}

.content p {
  margin-bottom: 20px;
  color: white;
  letter-spacing: 1px;
  font-size: 18px;
  margin-bottom: 45px;
  display: flex;
  line-height: 25px;
  flex-direction: column;
  justify-content: center;
  float: left;
  width: 50%;
}

.main {
  width: 1130px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  display: grid;
  box-sizing: border-box;
  background-color: white;
  grid-template-columns: 1fr 1fr;
}

.about {
  width: 100%;
  padding: 100px 0px;
  background-color: #ffffff;
}
.about-text h2 {
  color: #1c3879;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5 {
  color: #1c3879;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text p {
  color: #1c3879;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 15px;
}
button {
  background-color: #1c3879;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
button:hover {
  background-color: transparent;
  border: 2px solid #1c3879;
  color: #1c3879;
  cursor: pointer;
}

.stripe {
  height: 50px;
}

.part {
  width: 1130px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  display: grid;
  box-sizing: border-box;
  background-color: white;
  grid-template-columns: 1fr 1fr;
}

.initaitve-text h2 {
  color: #1c3879;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.initaitve-text h5 {
  color: #1c3879;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.initaitve-text p {
  color: #1c3879;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 15px;
}

.info {
  width: 1130px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  display: grid;
  box-sizing: border-box;
  background-color: white;
  grid-template-columns: 1fr 1fr;
}

.trash {
  margin-left: auto;
  height: 500px;
  width: 700px;
  display: block;
}
