@import url("https://fonts.googleapis.com/css?family=Signika");

body{
    margin: 0px;
    padding: 0px;  
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top; -100px
}
.font{
    font-family: "Signika", sans-serif;
}
.fontbold{
    font-family: "Signika", sans-serif;
    font-weight: bold;
}
.grid1{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 90px;
    background-color: #d9d9d9;
}
.grid2{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 150px;
    background-color: #d9d9d9;
}
.gridItem2{
    background-color: #d9d9d9;
    text-align: center;
    font-size: 20px;
    margin: 10px;
}
.smallLine{
    display: block;
    width: 80px;
    height: 3px;
    background: #1c3879;
    margin: 5px auto;
}
.button{
    background-color: #1c3879;
    height: 40px;
    width: 110px;
    font-size: 10px;
    border-radius: 25px;
    border: #d9d9d9;
    text-align: center;
}
.button:hover {
    background-color: #2d8bba;
}

.grid3{
    display: grid;
    padding: 40px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 150px;
    background-color: #1c3879;
}

.gridItem3{
    text-align: left;
    color: white;
    font-size: 20px;
    width: 100px;
    height: 50px;
    margin: 10px auto;
}
.a{
    color: white;
    font-size: 12px;
}
.grid4 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 5px 10px;
    background-color: #d9d9d9;
}

.text { 
    grid-area: 1 / 1 / 2 / 2; 
    text-align: center;
    font-size: 20px;
    padding: 40px;
    color: #001945;
}
.buttons{
    align: center;
    grid-area: 1 / 3 / 2 / 4;
    padding: 31px;
}
.line{
    grid-area: 2 / 1 / 3 / 4;
    background-color: #1c3879;
}
.button2{ 
    border-radius: 100%;
    width: 45px;
    height: 45px;
    border: 2px;
}
.button2:hover{
    background-color: #1c3879;
}
.img{
    width: 20px;
    height: 20px;
    align: center;
}



